#label {
    position: relative;
    left: 25%;
    top: 20px;
    width: 45%;
    height: 193px;
    z-index: 1;
}
form {
    margin-top:50px;
    margin-left:26%;
    margin-right:26%;
    width:500px;
    background-color:#90A4AB;
    padding:10px;
    border:0px;
    border-radius:0px;
    -moz-box-shadow:    6px 6px 9px 2px #ABABAB;
    -webkit-box-shadow: 6px 6px 9px 2px #ABABAB;
    box-shadow:         6px 6px 9px 2px #ABABAB;
    border:0px;
    border-radius:10px;

}
.cross {
    width:28px;
    height:23px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:10px;
    float:right;
    text-align:center;
    padding-top:5px;
    border: 1px solid #000;
    border-radius:20px;
    cursor:pointer;
    font-family:Arial, Helvetica, sans-serif;
    font-color:#fff;
    font-size:16px;
    font-weight:bold;
    color:#fff;
    -webkit-transition: background-color 0.5s linear;
    -moz-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
}
.notifytext {
    width:760px;
    height:35px;
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-color:#fff;
    font-size:16px;
    font-weight:bold;
    color:#fff;
    text-align:center;
    padding-top:15px;
}
.cross:hover {
    background-color:#32525D;
}
.notify {
    display:none;
    width:800px;
    height:50px;
    border:0px;
    border-radius:10px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;
    margin-top:80px;
    -webkit-animation: loading linear 1s infinite ;
    -moz-animation: loading linear 1s infinite ;
    -o-animation: loading linear 1s infinite ;
    animation: loading linear 1s infinite ;
    background-color:#90A4AB;
}

.help {
    width:160px;
    height:auto;
    padding:20px;
    background-color:#333;
    position:fixed;
    z-index:4;
    right:-200px;
    top:30%;
    border:0px;
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    color:#fff;
    font-weight:bold;
    text-align:center;
}

.FormElement {
    width:200px;
    height:30px;
    padding:5px;
    border:1px solid #ccc;
    border-radius:5px;

}

.button {
    border:0;
    padding:8px;
    width:auto;
    background-color:#333;
    cursor:pointer;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#fff;
    margin:auto;
    font-weight:bold;
    -webkit-transition:background-color .35s  linear;
    -moz-transition:background-color .35s linear;
    -o-transition:background-color .35s linear;
    transition:background-color .35s linear;
}
.button:hover {
    background-color:#09F;
}

input, select {
    -webkit-transition: background-color 0.5s linear;
    -moz-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
}
input:focus, select:focus{
    background-color:#32525D;
    color:#fff;

}

hr {
    margin-right:0%;
    alignment-adjust:baseline;
    alignment-baseline:central;
    margin-left:0%;
    width:82%;
}

table {
    width:500px;
}
tr {
    width:500px;
}
td {

    width:240px;
    padding:5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#fff;

}
tr td:nth-child(2) {
    width:230px;
    padding-left:10px;
    padding-right:10px;
    text-align:left;
}
tr td:nth-child(1) {
    width:230px;
    padding-left:10px;
    padding-right:10px;
    font-weight:bold;
    text-align:right;
}

#contact_ifo {
    position: relative;
    left: 26%;
    width: 40%;
    height: 88px;
    z-index: 4;
    border-top-width: thin;
    border-top-style: solid;
    border-top-color: rgba(51,51,51,1);
    text-align: right;
    color: rgba(0,153,255,1);
}

#imgDisplayPhoto {
    display:none;
    background-color:#32525D;
}
.file_upload {
    padding:5px;
}

img {
    max-width:100%;
    display:block;
    margin:auto;
}

.FormElementAge {
    width:50px;
    height:15px;
    padding:5px;
    border:1px solid #ccc;
    border-radius:5px;
}